/* .header {
  background-color: hsl(34, 78%, 96%);
  border-bottom: 1px solid hsl(34, 78%, 81%);
  padding: 1.2rem;
}

.navbar {
  margin: auto;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
}

.navbar ul {
  display: flex;
  gap: 4rem;
  align-items: center;
  font-size: 1.2rem;
}

.navbar li {
  list-style: none;
}
.toggle-menu-btn {
  display: none;
}

@media screen and (max-width:35rem) {
  .header {
    position: relative;
  }
  .toggle-menu-btn {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
  }
  #collapsible {
    display: absolute;
    top: 5.5rem;
  }
} */

 .header {
  background-color: hsl(34, 78%, 96%);
  border-bottom: 1px solid hsl(34, 78%, 81%);
  padding: 1.2rem;
  z-index: 10;
  overflow: hidden;
}
.navbar {
  margin: auto;
  max-width: 50rem;
  font-size: 1.75rem;
  background-color: hsl(34, 78%, 96%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 99;
}
#toggle-menu-btn {
  display: none;
}
#collapsible {
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  width: -webkit-fill-available;
  gap: 4rem;
  align-items: flex-start;
  font-size: 1.2rem;
  list-style: none;
}
#navbar-brand {
  font-size: 2rem;
}

@media screen and (max-width: 760px) {
  .navbar {
    font-size: 1.25rem;
    overflow: hidden;
  }
  #overlay {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
  }

  #toggle-menu-btn {
    z-index: 100;
    margin-right: 1.5rem;
    font-size: 1.75rem;
    display: block;
  }

  #collapsible {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    position: fixed;
    width: 66vw;
    height: 100vh;
    right: -66vw;
    top: 0;
    overflow: hidden;
    z-index: 9;
    background-color: hsl(34, 78%, 96%);
    padding: 128px 24px 24px 24px;
    opacity: 1;
    transition: 0.2s ease-out;
  }
}